body { background-color: lightpink;

    text-align: center; 
    color:rgb(63, 34, 170); 
    font-style:normal;
    font-size: 25px;
}
   
img { width: 560px; 
    height: 500px;

}
        
        
        
    
 


    

 
